<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<array>
		<string>Dr. Vijay Bhatkar</string>
		<string>Dr. Wei Sha</string>
		<string>Dr. Aminul Hoque</string>
		<string>Mr. Nitin Bawankule</string>
		<string>Dr. Prakash Apte</string>
		<string>Dr. P. K. Dubey</string>
		<string>Ms. Dimple Lalwani</string>
		<string>Ms. Roshni Lalwani</string>
		<string>Dr. Rajan Welukar</string>
		<string>Dr.Harold D&apos;costa</string>
		<string>Dr. Nitin Raut</string>
		<string>Mr.Harshvardhan Patil</string>
		<string>Mr.Nitin Gadkari</string>
		<string>Mr.Abhay Wagh</string>
	</array>
	<key>desgination</key>
	<array>
		<string>Chairman, Board of Governors, Indian Institute of Technology Delhi.</string>
		<string>Professor, School of Planning, Architecture and Civil Engineering - Centre for Built Environment Research, Belfast, UK.</string>
		<string>Professor, Department of Electrical and Electronic Engineering, Bangladesh University of Engineering and Technology, Bangladesh</string>
		<string>Industry Director at Google India, Gurgaon, India.</string>
		<string>Professor Electrical Department, IIT Mumbai</string>
		<string>Senior Sceintist, NPL, Delhi</string>
		<string>Project Manager, ST Micro, Noida</string>
		<string>Sr. Software Manager, Mentor graphics, Noida.</string>
		<string>Vice,chancellor,Mumbai University</string>
		<string>Cyber Crime Expert, Pune</string>
		<string>Ex Minister for EGS and water conservation,Govt.of Maharashtra</string>
		<string>Ex Minister for Co-operation and Parlimentry affairs, Govt.of Maharashtra</string>
		<string>Minister for Road Transport and Highways, Shipping,Govt.of India</string>
		<string>Deputy Sec. of Higher and Technical Education, Govt. of Maharashtra</string>
	</array>
	<key>description</key>
	<array>
		<string>I would like to acclaim the progress made by JIT in a span of less than 5 years. Indeed commendable accomplishments!I got an opportunity to come to JIT for the Inauguration of the International Conference on Industrial Automation and Computing. What I experienced that the Participation was admirable. This is a college with potential for excellence and it should be further developed with this vision in view.My Best wishes for the success of JIT.</string>
		<string>Very memorable experience. Conference and College organization is first class. Enjoyed most the numerous interactions with Professors and toppers.I have visited India 3 times but this visit surpassed all the previous visits. Thank you for your hospitality.</string>
		<string>It is my proud previlage to attend the International Conference on Industrial Automation and Computing organized by JIT. I am greatful to the college for inviting me to be a part of the conference. I wish all the success to JIT.</string>
		<string>For an Institution as young as 6 years, its an amazing progress. In today?s scenario to conduct an International Conference in Nagpur is really commendable. I am sure that the students and faculty will benefit a lot from this exposure. Best Wishes.</string>
		<string>I was happy with the 1st edition of International Conference on Industrial Automation and Computing. Let us take it forward and do it every year.</string>
		<string>A good institution particularly focusing in the field of research snd involved in the career built of the students. All the Best.</string>
		<string>It is a pleasure to visit JIT for ICIAC 2014. It is good to see that college has made tremendous progress in 5 years span. I wish all the best for future.</string>
		<string>It was a great pleasure to attend International Conference on Industrial Automation and Computing. It is really good to see the college has made great progress in a small span of time. All the Best! I would like to see more ventures coming out of this college.</string>
		<string>I congratulate the college for its development in a short period of times of three years.Tech fest organised by this college was an excellent opportunity for the younger generation. My best wishes to all.</string>
		<string>The infrastructure and the ambience is the best in it&apos;s class. I was happy to be a part of the Shikhar 2012. Families and officials are via person. Wish you all the best.</string>
		<string>It gives me immense pleasure to know that JIT has achieved 2nd rank in B.E.1st year Result of RTMNU. I am happy to see that you are on the way of achieving your vision of developing the students as true professionals. This shows the devotion and dedication of your entire team for imparting quality education for the bright future of our nation.</string>
		<string>Excellent college very good staff and good management will progress in future and establish a good level of quality education..</string>
		<string>Good and outstanding educational institute contributing in the engineering education in vidarbha.</string>
		<string>It really enlightened me to see all the events shows, exhibits kept today &quot;Teachers for Shikhar&quot;.Nice Infrastructure enthuziastic faculty,leadership &amp; nice to interact with all students.</string>
	</array>
</dict>
</plist>
